# Virtual environment
venv/

# Python bytecode
*.pyc
__pycache__/

# Django database files
*.sqlite3

# Django migrations
*/migrations/*

# .env files
.env

# IDE configurations (if you're using any)
.vscode/
.idea/
